.login_oueter {
  width: 360px;
  max-width: 100%;
  position: relative;
  left: 10%;
}

#tabla {
  position: relative;
  left: 10%;
  top: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

#modal {
  position: relative;
  margin-top: 50px;
  margin-left: 5%;
}


#modal2 {
  position: relative;
  margin-top: 50px;
  margin-left: 25%;
}


#modal3 {
  position: relative;
  margin-top: 50px;
  margin-left: 50%;
}
