<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="color1">
    <app-nav></app-nav>
    <app-navbar class="navres"></app-navbar>
   <!-- <div class="containers">

        <div class="row hola " >
            <div class="card2">
              <div class="card-body">
                <img src="../../../assets/img/roger.svg" class="img1"  alt="">
                <img src="../../../assets/img/Recurso.svg" class="cuadro1"  alt="">
                  <p class="text1">{{"WE.PERSON-1" | translate}}</p>
                </div>
              </div>
              <div class="card1">
                <div class="card-body" >
                    <img src="../../../assets/img/pedro.svg" class="img1" alt="">
                    <img src="../../../assets/img/Recurso.svg" class="cuadro2"  alt="">
                    <p class="text2">{{"WE.PERSON-2" | translate}}</p>
                </div>
              </div>
              <div  class="card2" >
                <div class="card-body" >
                    <img src="../../../assets/img/mile.svg" class="img1" alt="">
                    <img src="../../../assets/img/Recurso.svg" class="cuadro3"  alt="">
                    <p class="text3">{{"WE.PERSON-3" | translate}}</p>
                </div>
              </div>

            </div>
            <div class="row">
              <div>
                <div class="card-body" >
                    <img src="../../../assets/img/flechaIzq.svg" class="imgIzq" alt="">
                </div>
              </div>
              <div>
                <div class="card-body" >
                    <img src="../../../assets/img/flechaDer.svg" class="imgDer" alt="">
               </div>
              </div>
            </div>

          <div class="container-md col-md-9 p-8 text">
            <p class="text-justify pb-8 pt-8 h5">{{"WE.PARAGRAPH" | translate}}</p>
        </div>
    </div>-->

    <div class="container">
      <div class="container-md p-6">
        <h3 style="position: relative; left: 2%;" class="text-center pb-5 pt-6 h1 fuente">{{"WE.TITLE" | translate}}</h3>
    </div>

      <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" >
            <div class="card2p" style="width: 20rem;">
              <div class="card-body">
                <img src="../../../assets/img/roger.svg" class="img1"  alt="">
                <img src="../../../assets/img/Recurso.svg" class="cuadro2"  alt="">
                  <p class="text1">{{"WE.PERSON-1" | translate}}</p>
                </div>

            </div>
            <br>
           <div class="cardInfo color">
            <img src="../../../assets/img/marcoInter.png" class="borde" alt="">
            <p class="text-justify pb-8 pt-8 h5">Habilidades y Fortalezas de cada Ingeniero</p>
           </div>
           <br>
          </div>
          <div class="carousel-item">
            <div class="card2p" style="width: 20rem;">
              <div class="card-body">
                <img src="../../../assets/img/pedro.svg" class="img1" alt="">
                      <img src="../../../assets/img/Recurso.svg" class="cuadro2"  alt="">
                      <p class="text2">{{"WE.PERSON-2" | translate}}</p>
                </div>
            </div>
            <br>
            <div class="cardInfo color">
              <img src="../../../assets/img/marcoInter.png" class="borde" alt="">
              <p class="text-justify pb-8 pt-8 h5">Habilidades y Fortalezas de cada Ingeniero</p>
             </div>
             <br>
          </div>
          <div class="carousel-item">
            <div class="card2p" style="width: 20rem;">
              <div class="card-body">
                <img src="../../../assets/img/mile.svg" class="img1" alt="">
                <img src="../../../assets/img/Recurso.svg" class="cuadro2"  alt="">
                <p class="text3">{{"WE.PERSON-3" | translate}}</p>
                </div>
            </div>
            <br>
            <div class="cardInfo color">
              <img src="../../../assets/img/marcoInter.png" class="borde" alt="">
              <p class="text-justify pb-8 pt-8 h5">Habilidades y Fortalezas de cada Ingeniero</p>
             </div>
             <br>
          </div>
        </div>
        <div class="cardInfo" >
          <p class="text-justify pb-8 pt-8 h5">{{"WE.PARAGRAPH" | translate}}</p>
         </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleInterval" data-slide="prev">
          <img src="../../../assets/img/flechaIzq.svg" class="imgIzqp"  aria-hidden="true"alt="">
          <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleInterval" data-slide="next">
          <img src="../../../assets/img/flechaDer.svg" class="imgDerp" aria-hidden="true" alt="">
          <span class="sr-only">Next</span>
        </button>
      </div>

    </div>



</body>
</html>
